In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

## Health Data Clean Up

Completed in separate jupyter notebook file

## Store Data Clean Up

In [2]:
# Import store data
store_data = pd.read_csv('data/stores_tab.csv')
store_data.head()

,FIPS,State,County,GROC09,GROC14,PCH_GROC_09_14,GROCPTH09,GROCPTH14,PCH_GROCPTH_09_14,SUPERC09,...,PCH_SNAPS_12_16,SNAPSPTH12,SNAPSPTH16,PCH_SNAPSPTH_12_16,WICS08,WICS12,PCH_WICS_08_12,WICSPTH08,WICSPTH12,PCH_WICSPTH_08_12
0,1001,AL,Autauga,6,4,-33.333333,0.110834,0.072209,-34.849716,1,...,12.694878,0.674004,0.760911,12.894172,6,5,-16.66667,0.119156,0.090067,-24.412460
1,1003,AL,Baldwin,24,29,20.833333,0.133775,0.144920,8.331001,6,...,43.192771,0.725055,0.949753,30.990390,25,27,8.00000,0.141875,0.141517,-0.252126
2,1005,AL,Barbour,5,5,0.000000,0.180786,0.185963,2.863838,0,...,0.956938,1.280590,1.354387,5.762745,6,7,16.66667,0.201099,0.257344,27.968330
3,1007,AL,Bibb,6,5,-16.666667,0.261540,0.222163,-15.055985,1,...,20.512821,0.719122,0.864874,20.267995,6,5,-16.66667,0.277919,0.221268,-20.383970
4,1009,AL,Blount,6,6,0.000000,0.104637,0.103952,-0.654897,1,...,23.903509,0.657144,0.815946,24.165470,10,6,-40.00000,0.173028,0.103760,-40.033200

In [3]:
# Only keep needed columns
store_data_reduced = store_data[['FIPS','State','County','GROC09','GROC14',
                                 'PCH_GROC_09_14','GROCPTH09','GROCPTH14','PCH_GROCPTH_09_14']]
store_data_reduced.head()

,FIPS,State,County,GROC09,GROC14,PCH_GROC_09_14,GROCPTH09,GROCPTH14,PCH_GROCPTH_09_14
0,1001,AL,Autauga,6,4,-33.333333,0.110834,0.072209,-34.849716
1,1003,AL,Baldwin,24,29,20.833333,0.133775,0.144920,8.331001
2,1005,AL,Barbour,5,5,0.000000,0.180786,0.185963,2.863838
3,1007,AL,Bibb,6,5,-16.666667,0.261540,0.222163,-15.055985
4,1009,AL,Blount,6,6,0.000000,0.104637,0.103952,-0.654897

In [4]:
# Rename Columns
store_data_cleaned = store_data_reduced.rename(columns={'GROC09': 'Grocery Store Count 2009', 
                                                        'GROC14': 'Grocery Store Count 2014', 
                                                        'PCH_GROC_09_14': '% Chg Grocery Store Count 09_14',
                                                        'GROCPTH09': 'Groc Store Count 2009 (per thou)',
                                                        'GROCPTH14': 'Groc Store Count 2014 (per thou)',
                                                        'PCH_GROCPTH_09_14': '% Chg Grocery Store Count 09_14 (per thou)'})
store_data_cleaned.head()

,FIPS,State,County,Grocery Store Count 2009,Grocery Store Count 2014,% Chg Grocery Store Count 09_14,Groc Store Count 2009 (per thou),Groc Store Count 2014 (per thou),% Chg Grocery Store Count 09_14 (per thou)
0,1001,AL,Autauga,6,4,-33.333333,0.110834,0.072209,-34.849716
1,1003,AL,Baldwin,24,29,20.833333,0.133775,0.144920,8.331001
2,1005,AL,Barbour,5,5,0.000000,0.180786,0.185963,2.863838
3,1007,AL,Bibb,6,5,-16.666667,0.261540,0.222163,-15.055985
4,1009,AL,Blount,6,6,0.000000,0.104637,0.103952,-0.654897

In [6]:
# Export US data to CSV
store_data_cleaned.to_csv('cleaned_data/cleaned_store_data_US.csv', index=False)

In [7]:
# Limit Data to only KS and MO
store_data_KS = store_data_cleaned[store_data_cleaned['State']== 'KS']
store_data_MO = store_data_cleaned[store_data_cleaned['State']=='MO']

store_data_KS_MO = store_data_KS.append(store_data_MO).reset_index(drop=True)
store_data_KS_MO.head()

,FIPS,State,County,Grocery Store Count 2009,Grocery Store Count 2014,% Chg Grocery Store Count 09_14,Groc Store Count 2009 (per thou),Groc Store Count 2014 (per thou),% Chg Grocery Store Count 09_14 (per thou)
0,20001,KS,Allen,3,2,-33.333333,0.223764,0.154931,-30.761484
1,20003,KS,Anderson,3,3,0.000000,0.370325,0.380566,2.765445
2,20005,KS,Atchison,4,3,-25.000000,0.235780,0.181675,-22.947072
3,20007,KS,Barber,5,3,-40.000000,1.024170,0.612620,-40.183786
4,20009,KS,Barton,4,4,0.000000,0.145317,0.146065,0.514880

In [8]:
# Export KS/MO data to CSV
store_data_KS_MO.to_csv('cleaned_data/cleaned_store_data_KS_MO.csv', index=False)

## Restaurants Data Clean Up

In [9]:
# Import Restaurant Data
restaurants_data = pd.read_csv('data/restaurants_tab.csv')
restaurants_data.head()

,FIPS,State,County,FFR09,FFR14,PCH_FFR_09_14,FFRPTH09,FFRPTH14,PCH_FFRPTH_09_14,FSR09,FSR14,PCH_FSR_09_14,FSRPTH09,FSRPTH14,PCH_FSRPTH_09_14,PC_FFRSALES07,PC_FFRSALES12,PC_FSRSALES07,PC_FSRSALES12
0,1001,AL,Autauga,30,36,20.000000,0.554170,0.649878,17.270512,34,29,-14.705882,0.628059,0.523513,-16.645960,649.511367,674.80272,484.381507,512.280987
1,1003,AL,Baldwin,112,132,17.857143,0.624282,0.659634,5.662750,202,221,9.405941,1.125938,1.104387,-1.914027,649.511367,674.80272,484.381507,512.280987
2,1005,AL,Barbour,21,22,4.761905,0.759301,0.818239,7.762116,12,15,25.000000,0.433887,0.557890,28.579797,649.511367,674.80272,484.381507,512.280987
3,1007,AL,Bibb,7,5,-28.571429,0.305131,0.222163,-27.190844,6,5,-16.666667,0.261540,0.222163,-15.055985,649.511367,674.80272,484.381507,512.280987
4,1009,AL,Blount,24,21,-12.500000,0.418549,0.363832,-13.073035,19,15,-21.052632,0.331351,0.259880,-21.569656,649.511367,674.80272,484.381507,512.280987

In [10]:
# Rename Columns
restaurants_data_cleaned = restaurants_data.rename(columns={'FFR09': 'Fast Food Restaurant Count 2009', 
                                                        'FFR14': 'Fast Food Restaurant Count 2014', 
                                                        'PCH_FFR_09_14': '% Cng Fast Food Restautant Count 09_14',
                                                        'FFRPTH09': 'Fast Food Restaurant Count 2009 (per thou)',
                                                        'FFRPTH14': 'Fast Food Restaurant Count 2014 (per thou)',
                                                        'PCH_FFRPTH_09_14': '% Cng Fast Food Restaurant Count 09_14 (per thou)',
                                                        'FSR09': 'Full Service Restaurant Count 2009',
                                                        'FSR14': 'Full Service Restaurant Count 2014',
                                                        'PCH_FSR_09_14': '% Cng Full Service Restaurant Count 09_14',
                                                        'FSRPTH09': 'Full Service Restaurant Count 2009 (per thou)',
                                                        'FSRPTH14': 'Full Service Restaurant Count 2014 (per thou)',
                                                        'PCH_FSRPTH_09_14': '% Cng Full Service Restaurant Count 09_14 (per thou)',
                                                        'PC_FFRSALES07': 'Fast Food Expenditures per capita 2007',
                                                        'PC_FFRSALES12': 'Fast Food Expenditures per capita 2012',
                                                        'PC_FSRSALES07': 'Full Service Expenditures per capita 2007',
                                                        'PC_FSRSALES12': 'Full Service Expenditures per capita 2012'})
                                                   
restaurants_data_cleaned.head()

,FIPS,State,County,Fast Food Restaurant Count 2009,Fast Food Restaurant Count 2014,% Cng Fast Food Restautant Count 09_14,Fast Food Restaurant Count 2009 (per thou),Fast Food Restaurant Count 2014 (per thou),% Cng Fast Food Restaurant Count 09_14 (per thou),Full Service Restaurant Count 2009,Full Service Restaurant Count 2014,% Cng Full Service Restaurant Count 09_14,Full Service Restaurant Count 2009 (per thou),Full Service Restaurant Count 2014 (per thou),% Cng Full Service Restaurant Count 09_14 (per thou),Fast Food Expenditures per capita 2007,Fast Food Expenditures per capita 2012,Full Service Expenditures per capita 2007,Full Service Expenditures per capita 2012
0,1001,AL,Autauga,30,36,20.000000,0.554170,0.649878,17.270512,34,29,-14.705882,0.628059,0.523513,-16.645960,649.511367,674.80272,484.381507,512.280987
1,1003,AL,Baldwin,112,132,17.857143,0.624282,0.659634,5.662750,202,221,9.405941,1.125938,1.104387,-1.914027,649.511367,674.80272,484.381507,512.280987
2,1005,AL,Barbour,21,22,4.761905,0.759301,0.818239,7.762116,12,15,25.000000,0.433887,0.557890,28.579797,649.511367,674.80272,484.381507,512.280987
3,1007,AL,Bibb,7,5,-28.571429,0.305131,0.222163,-27.190844,6,5,-16.666667,0.261540,0.222163,-15.055985,649.511367,674.80272,484.381507,512.280987
4,1009,AL,Blount,24,21,-12.500000,0.418549,0.363832,-13.073035,19,15,-21.052632,0.331351,0.259880,-21.569656,649.511367,674.80272,484.381507,512.280987

In [11]:
# Export US data to CSV
restaurants_data_cleaned.to_csv('cleaned_data/cleaned_restaurant_data_US.csv', index=False)

In [12]:
# Limit Data to only KS and MO
restaurants_data_KS = restaurants_data_cleaned[restaurants_data_cleaned['State']== 'KS']
restaurants_data_MO = restaurants_data_cleaned[restaurants_data_cleaned['State']== 'MO']

restaurants_data_KS_MO = restaurants_data_KS.append(restaurants_data_MO).reset_index(drop=True)
restaurants_data_KS_MO.head()

,FIPS,State,County,Fast Food Restaurant Count 2009,Fast Food Restaurant Count 2014,% Cng Fast Food Restautant Count 09_14,Fast Food Restaurant Count 2009 (per thou),Fast Food Restaurant Count 2014 (per thou),% Cng Fast Food Restaurant Count 09_14 (per thou),Full Service Restaurant Count 2009,Full Service Restaurant Count 2014,% Cng Full Service Restaurant Count 09_14,Full Service Restaurant Count 2009 (per thou),Full Service Restaurant Count 2014 (per thou),% Cng Full Service Restaurant Count 09_14 (per thou),Fast Food Expenditures per capita 2007,Fast Food Expenditures per capita 2012,Full Service Expenditures per capita 2007,Full Service Expenditures per capita 2012
0,20001,KS,Allen,7,5,-28.571429,0.522115,0.387327,-25.815876,15,9,-40.000000,1.118819,0.697188,-37.685336,610.889378,608.807173,529.137954,562.298511
1,20003,KS,Anderson,3,4,33.333333,0.370325,0.507421,37.020593,12,8,-33.333333,1.481299,1.014842,-31.489704,610.889378,608.807173,529.137954,562.298511
2,20005,KS,Atchison,10,12,20.000000,0.589449,0.726700,23.284685,11,12,9.090909,0.648394,0.726700,12.076986,610.889378,608.807173,529.137954,562.298511
3,20007,KS,Barber,3,4,33.333333,0.614502,0.816827,32.924920,8,5,-37.500000,1.638673,1.021033,-37.691444,610.889378,608.807173,529.137954,562.298511
4,20009,KS,Barton,14,19,35.714286,0.508610,0.693810,36.413052,28,23,-17.857143,1.017220,0.839876,-17.434205,610.889378,608.807173,529.137954,562.298511

In [13]:
# Export KS/MO data to CSV
restaurants_data_KS_MO.to_csv('cleaned_data/cleaned_restaurant_data_KS_MO.csv', index=False)

## Population Data

In [14]:
# import data
population_data = pd.read_csv('data/population_tab.csv')
population_data.head()

,FIPS,State,County,2010 Census Population,"Population Estimate, 2011","Population Estimate, 2012","Population Estimate, 2013","Population Estimate, 2014","Population Estimate, 2015","Population Estimate, 2016"
0,1001.0,AL,Autauga,54571.0,55255.0,55027.0,54792.0,54977.0,55035.0,55416.0
1,1003.0,AL,Baldwin,182265.0,186653.0,190403.0,195147.0,199745.0,203690.0,208563.0
2,1005.0,AL,Barbour,27457.0,27326.0,27132.0,26938.0,26763.0,26270.0,25965.0
3,1007.0,AL,Bibb,22915.0,22736.0,22645.0,22501.0,22511.0,22561.0,22643.0
4,1009.0,AL,Blount,57322.0,57707.0,57772.0,57746.0,57621.0,57676.0,57704.0

In [15]:
# Export US data to CSV
population_data.to_csv('cleaned_data/cleaned_population_data_US.csv', index=False)

In [16]:
# Limit Data to only KS and MO
population_data_KS = population_data[population_data['State']== 'KS']
population_data_MO = population_data[population_data['State']== 'MO']

population_data_KS_MO = population_data_KS.append(population_data_MO).reset_index(drop=True)
population_data_KS_MO.head()

,FIPS,State,County,2010 Census Population,"Population Estimate, 2011","Population Estimate, 2012","Population Estimate, 2013","Population Estimate, 2014","Population Estimate, 2015","Population Estimate, 2016"
0,20001.0,KS,Allen,13371.0,13344.0,13336.0,13080.0,12903.0,12724.0,12714.0
1,20003.0,KS,Anderson,8102.0,8046.0,7912.0,7845.0,7880.0,7824.0,7827.0
2,20005.0,KS,Atchison,16924.0,16778.0,16793.0,16696.0,16509.0,16409.0,16380.0
3,20007.0,KS,Barber,4861.0,4914.0,4866.0,4914.0,4878.0,4821.0,4688.0
4,20009.0,KS,Barton,27674.0,27676.0,27515.0,27425.0,27262.0,27092.0,26775.0

In [17]:
# Export KS/MO data to CSV
population_data_KS_MO.to_csv('cleaned_data/cleaned_population_data_KS_MO.csv', index=False)